*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;

}
body{
    background:url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
section#telefone{
    width: 248px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
    background: url("../imagens/frame-iphone.png") no-repeat;
}

#tela-telefone{
    position: relative;
    top: 62px;
    left: 17px;
    width: 214px;
    height: 377px;
}
#redes>form{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;

}
.imagens-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.imagens-logo:hover{
    width: 60px;
    height: 60px;
    transform: translate(-5px -5px);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    transition: .3s;
}
.imagens-tela{
    background-size: cover;
}
